@font-face {
    font-family: GothicBold;
    src: url(../fonts/Gothic-Bold.ttf);
}

@font-face {
    font-family: GothicRegular;
    src: url(../fonts/Gothic-Regular.TTF);
}

@font-face {
    font-family: Baskerville;
    src: url(../fonts/Baskerville.otf);
}