@import 'fonts';

*{
    margin: 0;
    padding: 0;
    font-family: GothicBold, GothigRegular, sans-serif;
}

.section{
    height: 100vh;
    text-align: center;
}

@import 'nav';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'slot-counter';
@import 'smokes';