#section2{
    background-image: url(/img/backgrounds/section2.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.section2__titel{
    color: white;
    font-size: 40px;
    margin-top: 20px;
}

.section2__omschrijving{
    color: #f3c81a;
    margin-top: 20px;
}

.section2__slots{
    position: relative;
    z-index: 999!important;
}

.spirites{
    position: absolute;
    top: 5.4vh;
    left: 41.5vw;
}

.spirite-big{
    position: relative;
    animation-name: bigflare;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 999;
    opacity: 0;
}

.spirite-mid{
    position: absolute;
    left: -.3vw;
    top: -.3vh;
    z-index: 0;
    animation-name: bigflare;
    animation-delay: .6s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 0;
}

.spirite-small{
    position: absolute;
    top: 1vh;
    left: -.1vw;
    animation-name: bigflare;
    animation-delay: .7s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 0;
}

@keyframes bigflare {
    from { opacity: 1; }
    to { opacity: 0; }
}

.birds{
    position: absolute;
    left: 60vw;
    top: 10vh;
}

.bird1{
    position: relative;
    animation-name: bird1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 999;
}

.bird2{
    position: absolute;
    left: 0;
    top: 0;
    animation-name: bird2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 998;
    opacity: 0;
}

.bird3{
    position: absolute;
    left: 0;
    top: 0;
    animation-name: bird3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 997;
    opacity: 0;
}

.bird4{
    position: absolute;
    left: 0;
    top: 0;
    animation-name: bird4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 996;
    opacity: 0;
}

@keyframes bird1{
    0% { opacity: 1; }
    25% { opacity: 1; }
    26% { opacity: 0; }
    50% { opacity: 0; }
    51% { opacity: 0; }
    75% { opacity: 0; }
    76% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes bird2{
    0% { opacity: 0; }
    25% { opacity: 0; }
    26% { opacity: 1; }
    50% { opacity: 1; }
    51% { opacity: 0; }
    75% { opacity: 0; }
    76% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes bird3{
    0% { opacity: 0; }
    25% { opacity: 0; }
    26% { opacity: 0; }
    50% { opacity: 0; }
    51% { opacity: 1; }
    75% { opacity: 1; }
    76% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes bird4{
    0% { opacity: 0; }
    25% { opacity: 0; }
    26% { opacity: 0; }
    50% { opacity: 0; }
    51% { opacity: 0; }
    75% { opacity: 0; }
    76% { opacity: 1; }
    100% { opacity: 1; }
}