#section1{
    background-image: url(../img/backgrounds/section1.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.section1__logo{
    margin-bottom: 15px;
}

.section1__titel{
    font-size: 40px;
    color: white;
}

.section1__omschrijving{
    margin-top: 15px;
    animation: fadeIn ease-in-out 1.2s;

}

.section1__happy{
    margin-top: 20px;
    max-width: 300px;
    animation: fadeIn ease-in-out 2.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    75% { opacity: .5; }
    100% { opacity: 1; }
}

.star1{
    position: absolute;
    top: 58vh;
    left: 42vw;
    opacity: 0;
    animation-name: stars;
    animation-duration: 1.2s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.star2{
    position: absolute;
    right: 39vw;
    top: 55vh;
    opacity: 0;
    animation-name: stars;
    animation-duration: .9s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.star3{
    position: absolute;
    left: 42.4vw;
    top: 82vh;
    opacity: 0;
    animation-name: stars;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

@keyframes stars {
    0% { opacity: 0; }
    30% { opacity: 1; }
    80% { opacity: 0; }
}